<head>
  <link rel="stylesheet" type="text/css" href="home.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/car.png"
        alt="Car Dealer"
      /></div>
    <span class="logo-text">Car Dealer</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">Car Dealer WEB에 방문해주셔서 감사합니다!</span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <form id="loginform" method="post" action="/">
        <div class="loginform-input">
          <div class="loginform-input_id">
            <label for="id" class="label-text">아이디</label>
            <input
              class="loingform-input_id_input"
              name="id"
              type="text"
              required
            />
          </div>
          <div style="margin-top:8px;" class="loginform-input_pwd">
            <label for="password" class="label-text">비밀번호</label>
            <input
              class="loginform-input_pwd_input"
              name="password"
              type="password"
              required
            />
          </div>
          <div style="margin-top:8px">
            <span class="loginform-input_forget">아이디·비밀번호 찾기</span>
          </div>
        </div>
        <div class="loginform-btnDiv">
          <button class="loginform-btnDiv_btn" type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="side-menu">
        <div class="side-menu_list">
          <span class="side-menu_list_colored">FOR 구매자</span>
          <span class="material-symbols-outlined">expand_more</span>
        </div>
        <div class="side-menu_list">
          <span>차량 구매 예약</span>
        </div>
        <div class="side-menu_list">
          <span>차량 예약 내역 조회</span>
        </div>
        <div class="side-menu_list">
        <span class="side-menu_list_colored">FOR 관리자</span>
        <span class="material-symbols-outlined">expand_more</span>
      </div>
      <div class="side-menu_list">
        <span>차량 등록</span>
      </div>
      <div class="side-menu_list">
        <span>차량 정보 수정</span>
      </div>
      <div class="side-menu_list" >
        <span>차량 정보 삭제</span>
      </div>
      <div class="side-menu_list">
        <span>차량 예약 정보 수정</span>
      </div>
      <div class="side-menu_list">
        <span>예약 차량 판매 여부</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">Car Dealer 인기 차량 TOP 10</span>
      <div class="main-top_table">
        <table>
          <tr class ="main-top_table_first">
            <td class="main-top_table_first_head"><img
              src="./img/sonata.png"
              alt="sonata"/></td>
            <td class="main-top_table_second_head"><img
              src="./img/k9.png"
              alt="k9"/></td>
            <td class="main-top_table_third_head"><img
              src="./img/e-class.png"
              alt="e-class"/></td>
            <td class="main-top_table_fourth_head"><img
              src="./img/tivoli.png"
              alt="tivoli"/></td>
            <td class="main-top_table_fifth_head"><img
              src="./img/i7.png"
              alt="i7"/></td>
          </tr>
          <tr class ="main-top_table_second">
            <td class="main-top_table_first_body">HYUNDAI SONATA</td>
            <td class="main-top_table_second_body">KIA K9</td>
            <td class="main-top_table_third_body">BENZ E-CLASS</td>
            <td class="main-top_table_fourth_body">SSANGYONG TIVOLI</td>
            <td class="main-top_table_fifth_body">BMW I7</td>
          </tr>
          <tr class ="main-top_table_third">
            <td class="main-top_table_sixth_head"><img
              src="./img/spark.png"
              alt="spark"/></td>
            <td class="main-top_table_seventh_head"><img
              src="./img/sportage.png"
              alt="sportage"/></td>
            <td class="main-top_table_eighth_head"><img
              src="./img/xc40.png"
              alt="xc40"/></td>
            <td class="main-top_table_ninth_head"><img
              src="./img/model s.png"
              alt="model s"/></td>
            <td class="main-top_table_tenth_head"><img
              src="./img/casper.png"
              alt="casper"/></td>
          </tr>
          <tr class ="main-top_table_fourth">
            <td class="main-top_table_sixth_body">CHEVROLET SPARK</td>
            <td class="main-top_table_seventh_body">KIA SPORTAGE</td>
            <td class="main-top_table_eighth_body">VOLVO XC40</td>
            <td class="main-top_table_ninth_body">TESLA MODEL S</td>
            <td class="main-top_table_tenth_body">HYUNDAI CASPER</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
